#                                            #
#             PUNISHMENTS SECTION            #
#                                            #
#
# Should clean up task be enabled?
# Clean up task clears expired punishments.
# The task is running asynchronously. It calls deleteIfExpired with null sender.
cleanupTaskEnabled: true
# This specifies the duration in seconds between next cleanup task.
cleanupTaskTimer: 1800

# Currently disabled but the implementation should be ready though.
ipv6BansEnabled: false

# Minimum duration of temporary punishments.
# Value 0 corresponds to minimum duration of 5 seconds.
#
# It is highly unrecommended to set values less than 5 seconds.
# There's no particular reason, it just doesn't make sense.
minimumDuration:
  ban: 15s
  warn: 5m
  mute: 30s

# Maximum length of username. Used in /ban, /warn, etc.
maximumNameLength: 16

# Priority-aware punishments require tPerms (!)
#
# This section determines whether priorities should matter
# when it comes to punishments.
# If enabled, a player (or an admin) with lower or equal group priority
# can't make a certain punishment to some other player with higher one.
# E.g.
#  moderator (4) can't ban other moderator (4)
#  moderator (4) can be banned by admin (5)
#  admin (5) can't be banned by moderator (4)
# The priorities are bypassed by operators, console and players that have
# toolsies.<ban/kick/warn/mute>.bypasspriority permission.
higherPriorityPunishment:
  ban: true
  kick: true
  warn: true
  mute: true