# toolsies-${project.version} config
#                                            #
#              DATABASE SECTION              #
#                                            #
# https://github.com/brettwooldridge/HikariCP
#
# warn: you need to create database `toolsies`
database:
  class: "com.mysql.jdbc.jdbc2.optional.MysqlDataSource"
  host: 127.0.0.1
  port: 3306
  user: root
  password:

#                                            #
#              DEFAULT SECTION               #
#                                            #
#
# this is unified section for the default values.
default:
  locale: 'pl'

#                                            #
#               LOCALE SECTION               #
#                                            #
#
# `locales` accepts the ID of locales, which is
# the value after the dash in .jar root
#
# non-existent languages will not cause a crash
# but empty list will.
locales:
  - 'pl'
  - 'en'

#                                            #
#              COMMANDS SECTION              #
#                                            #
#
# excludeItems: <true/false>, default: true
#   If true, user won't be allowed to change amount items listed below.
#   toolsies.more.bypass permission bypasses this limitation.
more:
  excludeItems: true
  excludedItems:
    - ''
  excludedItemsStartsWith:
    - ''
  excludedItemsEndsWith:
    - 'HELMET'
    - 'CHESTPLATE'
    - 'LEGGINS'
    - 'BOOTS'
    - 'SWORD'
    - 'SHOVEL'
    - 'AXE' # + pickaxe
    - 'HOE'
